<% layout('layouts/adminLayout') %>

<div class="container justify-content-center align-items-center mt-3">

    <div style="padding-top: 25px;"></div>

    <div class="row">
        <div class="col-12">
            <div id="adminMap"> </div>
        </div>
    </div>
    
</div>

    
<script src="../javascript/leaflet-heat.js"></script>
<script src="../javascript/adminMap.js"></script>
 