<% layout('layouts/adminLayout') %>

<div class="container justify-content-center align-items-center mt-3">
    <h2 class="mb-5">Home Page</h2>
        <div class="row">
            <div class="col-md-6">
                <div class="mb-3">
                    <h4>Πλήθος Χρηστών: <%= num_users %> </h4>
                </div>
            </div>
        </div>

