<% layout('layouts/userLayout') %>
<link rel="stylesheet" href="/stylesheets/validation.css">

<div style="padding-bottom: 130px;"></div>

<h2 style="padding-bottom: 10px; text-align: center;">Διαχείριση Προφίλ</h2>

<div class="container">

  <div class="row">
    <div class="col-md-6" id="profform">
      <div class="accordion" id="accordionExample">

        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"> 
                  Αλλαγή password </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body"> 
              <form action="/user/passwordUpdate" class="validated-form" method="POST" novalidate>

                    <div class="mb-4">
                        <label class="form-label" for="current_password">Τρέχων συνθηματικό</label>
                        <input class="form-control" type="password" id="current_password" name="current_password" required></label>
                        <div class="valid-feedback">Looks good!</div>
                        <div class="invalid-feedback">Please match the requested format.</div>
                    </div>

                    <div class="mb-4">
                        <label class="form-label" for="password">Νεό συνθηματικό</label>
                        <input class="form-control" type="password" id="password" name="password" pattern="^(?=.*[0-9])(?=.*[A-Z])(?=.*[!@#$%^&+=]).{8,}" required></label>
                        <div class="valid-feedback">Looks good!</div>
                        <div class="invalid-feedback">Please match the requested format.</div>
                    </div>
                  <button class="btn btn-success btn-block mb-4">Αλλαγή</button>
                </form>

                <div id="message">
                    <h5>Ο κωδικός πρέπει να περιλαμβάνει:</h5>
                    <p id="character" class="invalid">Έναν <b>ειδικό</b> χαρακτήρα</p>
                    <p id="capital" class="invalid">Ένα <b>κεφαλαίο</b> γράμμα</p>
                    <p id="number" class="invalid">Έναν <b>αριθμό</b></p>
                    <p id="length" class="invalid">Τουλάχιστον <b>8 χαρακτήρες</b></p>
                </div>

              </div>
            </div>
          </div>

          <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"> 
                  Αλλαγή username </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
              <div class="accordion-body"> 
                <form action="/user/usernameUpdate" class="validated-form" method="POST" novalidate>
                    <div class="mb-3">
                        <label class="form-label" for="new_username">Νεό όνομα χρήστη</label>
                        <input class="form-control" type="text" id="new_username" name="new_username" required></label>
                        <div class="valid-feedback">Looks good!</div>
                        <div class="invalid-feedback">Please choose a username.</div>
                    </div>
                    <button class="btn btn-success btn-block mb-4">Αλλαγή</button>
                </form>
              </div>
            </div>
        </div>
    </div>

    <script src="/javascript/validation.js"></script>
