<% layout('layouts/userLayout') %>

<div class="container justify-content-center align-items-center mt-3">

    <div style="padding-top: 25px;"></div>

    <div class="col-md-12" style="display: block;">
        <h4 id="lefth5">Number of entries: <%= typeof entries != 'undefined'?  entries: 0 %> </h4>
        <h4 id="righth5">Last Upload: <%= typeof timestamp != 'undefined'? timestamp.toLocaleString(): "-" %> </h4>
        <input type="hidden" id="heatMapData" value="<%= typeof heatMapData != 'undefined'? JSON.stringify(heatMapData): "" %>">  </input>
    </div>
    
    <div class="row">
        <div class="col-12">
            <div id="myMap">  </div>
        </div>
    </div>

    <div></div>

    <div class="row">
        <div class="col-md-7" style="text-align:center; margin:auto; display:flex; display:grid; padding-top: 1.5rem;">
            <div class="mb-3">
                <label for="harInput" class="form-label" id="harfile">Επιλέξτε το Har αρχείο που θέλετε να ανεβάσετε</label>
                <input class="form-control" type="file" accept=".har" id="harInput">
                <button class="btn btn-primary mt-3" id="harDownload">Download</button>
                <form action="/user/harUpload" method="POST" style="display: inline;">
                    <input type="hidden" id="harOutput" name="harOutput"></input>
                    <button class="btn btn-primary mt-3" type="submit" id="harUpload">Upload</button>
                </form>
            </div>
        </div>
    </div>

 </div>

 <script src="../javascript/harReader.js"></script>
 <script src="../javascript/leaflet-heat.js"></script>
 <script src="../javascript/heatmap.js"></script>