<% layout('layouts/userLayout') %>

<div class="container justify-content-center align-items-center mt-3">
    <h2 class="mb-5">Home Page</h2>
        <div class="row">
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="harInput" class="form-label">Επίλεξτε το Har αρχείο που θέλετε να ανεβάσετε</label>
                    <input class="form-control" type="file" accept=".har" id="harInput">
                    <button class="btn btn-primary mt-3" id="harDownload">Download</button>
                    <form action="/user/harUpload" method="POST">
                        <input type="hidden" id="harOutput" name="harOutput"></input>
                        <button class="btn btn-primary mt-3" type="submit" id="harUpload">Upload</button>
                    </form>

                  </div>
            </div>
            <div class="col-md-6">
                <h3>Number of entries: <%= typeof entries != 'undefined'?  entries: 0 %> </h3>
                <h3>Last Upload: <%= typeof timestamp != 'undefined'? timestamp.toLocaleString(): "" %> </h3>
            </div>
        </div>
 </div>

 <script src="../javascript/harReader.js"></script>