h2 { color: #000000; font-family: "Great Vibes", cursive; text-shadow: 0 1px 1px #fff; }

h4 { color: #000000; font-family: "Great Vibes", cursive; text-shadow: 0 1px 1px #fff; }

#timings_chart {
    background-color: white;
}

#methodsChart {
    background-color: white;
}

#statusChart {
    background-color: white;
}

#ispChart {
    background-color: white;
}

#canvas_h2 {
    margin: 15% 0 2% 0;
    padding: 0;
}

#adminMap {
    width: 95%; 
    height: 550px; 
    text-align: center; 
    margin: auto;
    display: grid; 
    border: 5px solid whitesmoke;
}
