  .login {
    min-height: 100vh;
  }
  
  .bg-image {
    background-image: url('https://scontent.fath5-1.fna.fbcdn.net/v/t1.6435-9/239384053_4822890437739028_7697754199148286647_n.jpg?_nc_cat=101&ccb=1-5&_nc_sid=730e14&_nc_eui2=AeE4uBLpf9rqal1XgS-QNjLMdZ31zp4YNoV1nfXOnhg2hcLngufZpW5I5I8MqM7QM-gjGNdI7bpI30nZ3bLFh3ih&_nc_ohc=MY-JXe9zN7gAX8NZXfz&tn=OafDGbKuETse1bC7&_nc_ht=scontent.fath5-1.fna&oh=8e5698ed9a6138c36174ee3165b0fd49&oe=6149EDF8');
    background-size: cover;
    background-position: center;
  }
  
  .login-heading {
    font-weight: 300;
  }
  
  .btn-login {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    padding: 0.75rem 1rem;
  } 