  .login {
    min-height: 100vh;
  }
  
  .bg-image {
    background-image: url('https://pixabay.com/get/g576b8777c2962357eeaa9130530a5a98fc10849adba371297ce6e20574e4d587d25cc85c5479f02a56099cb55761f7e2_1920.jpg');
    background-size: cover;
    background-position: center;
  }
  
  .login-heading {
    font-weight: 300;
  }
  
  .btn-login {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    padding: 0.75rem 1rem;
  } 