body {
    overflow-x: hidden;
    background-image: linear-gradient(to bottom, rgba(13,110,253,0.5), rgba(211,211,211,0.5)) , url("https://scontent.fath5-1.fna.fbcdn.net/v/t1.6435-9/239384053_4822890437739028_7697754199148286647_n.jpg?_nc_cat=101&ccb=1-5&_nc_sid=730e14&_nc_eui2=AeE4uBLpf9rqal1XgS-QNjLMdZ31zp4YNoV1nfXOnhg2hcLngufZpW5I5I8MqM7QM-gjGNdI7bpI30nZ3bLFh3ih&_nc_ohc=MY-JXe9zN7gAX8NZXfz&tn=OafDGbKuETse1bC7&_nc_ht=scontent.fath5-1.fna&oh=8e5698ed9a6138c36174ee3165b0fd49&oe=6149EDF8");
    height: 100%;
    margin: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
 }

th, td {
    padding: 5px;
    text-align: center;
}

table,td,th{
    border: 1px solid black;
    border-collapse: collapse;
}

/* Toggle Styles */

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    color: #000000; font-family: "Great Vibes", cursive; text-shadow: 0 1px 1px #fff;
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: rgb(227, 242, 253);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 0px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

/* .navbar {
    padding-bottom: 1.5rem;
} */

.sidebar-nav {
    position: absolute;
    top: 5px;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    font-size: 17px;
    text-indent: 20px;
    line-height: 70px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #000000;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: rgb(255, 255, 255);
    background: rgba(13,110,253,0.5);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #000000;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: rgba(13,110,253,0.5);
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 0px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

#myMap {
    width: 1250px; 
    height: 550px; 
    text-align: center; 
    margin: auto;
    display: grid; 
    border: 5px solid whitesmoke;
}


#righth5 {
    font-weight: bolder;
    display:inline-flex;
    float: right;
} 

#lefth5 {
    display: inline;
    text-align: left;
    font-weight: bolder;
} 

#profform {    
    top: 50%;
    left: 50%;
    margin: -25px 0 0 -25px;
    text-align:center; 
    margin:auto; 
    display:grid; 
}

#harfile {
    font-weight: bold;
    font-size: larger;
}